@font-face {
    font-family: "Agutina";
    src: url("assets/font/Agutina\ 400.otf");
}

@font-face {
    font-family: "poppins-black";
    src: url('assets/font/Poppins-Black.ttf');
}

@font-face {
    font-family: "poppins-light";
    src: url('assets/font/Poppins-Light.ttf');
}

:root{

    --background-color : #161623;
    /* --background-color : #1818d1; */
    --global-font: "poppins-light";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

.hero::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}

body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#2196f3,#e91363);
    clip-path: circle(20% at 10% 20%);
    z-index: -2;
}



.navbar{
      background-color: rgba(255, 255, 255, 0.2); /* Adjust transparency here */
  backdrop-filter: blur(5px); /* Adds blur effect */
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;
}

.logo{
    font-family: "Agutina";
    font-weight: 900;
    font-size: 35px;
    background: linear-gradient(to right,#f00,#f0f); /* Define your gradient colors */
    -webkit-background-clip: text; /* Apply the gradient as the text color for webkit browsers */
    color: transparent; /* Hide the original text color */
    
}

.grey-color{
    font-size: 30px;
    color: #666;
}

.active{
    color: #ffffff;
    font-size: 20px;
    font-family: "poppins-light";
   
}

.left-section{
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #ffffff;
}

.left-section h1{
    font-size: 52px;
    font-family: "poppins-light";
    font-weight: 700;
}

.left-section p{
    font-family: "poppins-light";
    font-size: 20px;
    color:#CCCCCC;
    font-weight: 600;
    /* line-height: 1; */
    margin-top: 1rem;
    /* max-width: 100%; */

}

.shaking-hand {
  display: inline-block;
  animation: shake 0.5s infinite alternate; /* Shake animation */
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.icons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
}

.icons i{    
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
    transition: .2s ease-in;
}

.facebook{
     background-color: #3b5998;
}

.fa-github{
     background-color: black;
}

.fa-linkedin{
     background-color: rgb(98,121,204);
}

.fa-envelope{
     background-color:red;

}
.btn{
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-left: -20px;

}
.btn a{
     background: linear-gradient(90deg, #755bea, #ff72c0); 
     border-radius: 15px;
     padding: 12px 36px;
     text-transform: capitalize;
      font-family: "poppins-light";
      /* transform: translateX(20px); */
      transition: 0.5s;
      text-decoration: none;
      color: #fff;
      font-size: 18px;
       font-family: "poppins-light";
      

}

.btn a:hover{
    transform: scale(1.2);
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-card{
    position: relative;
    width: 300px;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top:1px solid rgba(255, 255, 255, 0.5) ;
    border-left:1px solid rgba(255, 255, 255, 0.5) ;
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-card .content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.contentbx h3{
    text-align: center;
    font-family: "poppins-light";
     color: #868e96;
     font-weight: 600;
}

.contentbx span{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
}


.hero-card .content .imgbx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0,0.25);
}

.hero-card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.hero-card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.hero-card:hover .sci li{
    transform: translateY(0px);
   
}

.sci li a{
    font-size: 24px;
    color: #fff;
    align-items: center;
    


}

.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.second-section{
    margin-top: 15%;
}
.code-img img{
    width: 100%;
}

.skill-heading{
    font-size: 40px;
    font-weight: 500;
    font-family: "poppins-light";
    color: #fff;

}

.icons-list{
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.Software-skill{
    display: inline-block;
    margin-right: 2 0px;
    margin-bottom: 20px;
    cursor: pointer;
}

.Software-skill p{
    font-size: 12px;
}

.Software-skill:hover{
    color: purple;
}

.skills-bar{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.skills-bar h1{
    font-size: 40px;
    font-weight: 500;
    font-family: "poppins-light";
    color: #fff;

}

.skill{
    line-height: 3.5vw;
    margin-top: 3%;
}

.skill p{
    color: #fff;
    font-family: "poppins-light";
    font-size: 18px;
}

.meter {
    height: 20px;
    position: relative;
    background: #f3efef;
    border-radius: 25px;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;


}

  /* Add animation classes for each span */
    .meter > .span1 {
        animation: fillWidth1 2s ease forwards;
    }

    .meter > .span2 {
        animation: fillWidth2 3s ease forwards;
    }

    .meter > .span3 {
        animation: fillWidth3 4s ease forwards;
    }

    @keyframes fillWidth1 {
        0% { width: 0%; }
        100% { width: 95%; }
    }

    @keyframes fillWidth2 {
        0% { width: 0%; }
        100% { width: 70%; }
    }

    @keyframes fillWidth3 {
        0% { width: 0%; }
        100% { width: 60%; }
    }


.ex-cards{
    margin-top: 10%;
}

.education-section{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}  

.education-section h1{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    font-family: "poppins-light";
}

.edu-img img{
    border-radius: 50%;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    /* margin-bottom: .5rem; */
        margin-right: 0;
        margin-top: 30px;
}

.education-section p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
     font-family: "poppins-light";
     margin-top: 10px;
}

.education-section span{
    font-weight: 600;
}

.horizontal-line {
        display: block;
        height: 2px;
        width: 80%; /* Initial width */
        background-color:#a9a7f9;;
        margin-top: 1rem;
        transition: width 0.3s ease; /* Add smooth transition */
        display: flex;
    }

    .education-section:hover .horizontal-line {
        width: 100%; /* Expand to 100% width on hover */
    }

    /* .cards-section{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

 .ex{
    font-family: "poppins-light";
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;


 }   



    .card{
    height: 450px;
    width: 100%;
     border-top:1px solid rgba(255, 255, 255, 0.5) ;
    border-left:1px solid rgba(255, 255, 255, 0.5) ; 
     border-right:1px solid rgba(255, 255, 255, 0.5) ;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    /* margin-top: 15%; */
    transition: 0.5s ease;
    margin-top: 10%;
     box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.5);
     z-index: 1;
    }

.upper-section{
    height: 190px;
    background-color: #161623;
    /* box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.4); */
    /* border-bottom:1px solid rgba(255, 255, 255, 0.5) ;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}    

.upper-section img{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 133px;


}

.upper-section h3{
    font-family: "poppins-light";
    font-size: 30px;
    font-weight: 600;
    color:#CCCCCC; ;
}

.lower-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    margin-top: 65px;
    text-align: center;
}

.lower-section h4{
    color: #fff;
    font-size: 25px;
     --global-font: "poppins-light";
     font-weight: 700;

}

.lower-section p{
     color:#CCCCCC; ;
    font-size: 23px;
     --global-font: "poppins-light";
     font-weight: 600;
     padding-bottom: 0px;

}

.lower-section span{
    font-size: 18px;
    /* max-width: 90%; */
}

.card:hover{
    transform: scale(1.2);
    
}

.for-mobile{
    display: none;
}


.projects::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}

.project-section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#2196f3,#e91363);
   clip-path: circle(20% at 10% 20%);
    z-index: -2;
}

.projects{
    margin-top: 10%;
}

.project-heading{
     font-family: "poppins-light";
     text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;

}

.p-card{
     /* position: relative; */
    width: 100%;
    height: 705px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top:1px solid rgba(255, 255, 255, 0.5) ;
    border-left:1px solid rgba(255, 255, 255, 0.5) ;

    backdrop-filter: blur(5px);
    border-radius: 15px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.p-card img{
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    /* height: 705px; */
    width: 100%;
    /* height: 100%; */
    margin-bottom: 0%;
       
   
}

.p-card:hover img{
     animation: moveUp 8s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
    200% { /* Add another keyframe at 200% */
        transform: translateY(0); /* Set it back to initial position */
    }
}


/* .p-card img{
    width: 100px;
    height: 50px;
}

.p-card h3{
     font-family: "poppins-light";
    font-size: 25px;
    font-weight: 500;
    color: #CCCCCC;
}

.p-card p{
      font-family: "poppins-light";
    text-align: center;
    font-size: 12px;
    color: #fff;
    max-width: 85%;

}

.p-card a{
    text-decoration: none;
    color: #fff;
    background-color: #4d001f;
    padding: 8px 30px;
    text-align: center;
    border-radius: 25px;
} */

footer{
   background: linear-gradient(to right, #001f4d, #4d001f);
     border-top-left-radius: 125px;
     margin-top: 15%;
      padding-bottom: 2rem;
      padding-top: 3rem;
}

.contact{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    
  
    
}

.contact h2{
     --global-font: "poppins-light";
     font-size: 40px;
    font-weight: 500;
    color: #fff;
    
}

.contact img{
    width: 60px;
    height: 60px;

}

.last-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    gap: 10px;
}

.last-section p{
    font-size: 20px;
    font-weight: 400;
    --global-font: "poppins-light";
    color: #fff;


}

.last-section a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}




@media screen and (max-width:992px) {
    .hero-section{
        margin-top: 15%;
    }

    .for-mobile{
        display: none;
    }

    .card{
        margin-top: 20px;
    }
    
}

@media screen and (max-width:767px) {
    .icons{
        align-items: center;
        justify-content: center;
    }
    
    .left-section{
        text-align: center;
    }

    .left-section h1{
        font-size: 38px;
    }
    .btn{
        justify-content: center;
    }

    .skills-bar h1{
        text-align: center;
        font-size: 28px;
    }

    .edu-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-line{
        align-items: center;
        justify-content: center;
    }

    .education-section{
        text-align: center;
    }
    
    .education-section h2{
        font-size: 28px;
        text-align: center;
    }

    footer{
        margin-top: 15%;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact img{
        width: 50px;
        height: 50px;
        
    }

    
.last-section p{
    font-size: 18px;
    


}

}



